@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.spacer {
    -webkit-box-flex: 1;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
  }


  .example-card {
    max-width: 250px;
    float: left;
    margin:5px;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 5px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }
  